<template>
  <div class="hello">
      <div id="crypto-container" v-for="(value, key) in cryptos">
        <span class="left">{{ key }}</span>
        <span class="right"><span id="symbol">R</span>&nbsp;{{ value.ZAR }}</span>
     </div>
  </div>  
</template>
<script>
import axios from 'axios'

export default {
  name: 'HelloWorld',
  data: () => ({ 
    cryptos: [],
    errors: []
  }),

  created () {
    axios.get('https://min-api.cryptocompare.com/data/pricemulti?fsyms=BTC,LTC,NMC,STC,BCN,PPC,DOGE,FTC,GRC,XPM,XRP,NXT,AUR,DASH,NEO,MZC,XMR,XEM,POT,TIT,XVG,XLM,VTC,ETH,ETC,USDT,DCR,WAVES,ZEC,BCC,BCH,EOS,ADA,BTCP&tsyms=ZAR')
    .then(response => {
      this.cryptos = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  body {
    background: azure;
    font-family: 'Montserrat';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    text-align: center;
    margin-top: 60px;
  }
  div#crypto-container {
    background: rgba(192, 192, 192, .3);
    width: 80%;
    margin: 1px auto 6px auto;
    padding: 1.8em;
    border-radius: 15px;
  }
  span#symbol{
    color: rgb(20, 202, 117);
  }
  span.left {
    font-weight: bold;
    float: left;
    position: relative;
    bottom: .5em;
  }
  span.right {
    float: right;
    position: relative;
    bottom: .5em;
  }
</style>
