<template>
  <div id="app">
    <img src="./assets/logo.png">
    <h1>{{ title }}</h1>
    <router-view/>
    <footer>
      <span> Made with <span class="credentials">{{ app }}</span> by <span class="credentials">{{ name }}</span></span>
    </footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      app: 'VueJS',
      name: 'Derick van den Berg',
      title: 'Live Cryptocurrency Converter'
    }
  }
}
</script>

<style>
  img {
    margin-top: -2.5em;
    padding-bottom: 3px;
    width: 214px;
    height: 214px;
  }
  h1 {
    color: rgb(20, 202, 117);
    padding-left: 5%;
    padding-right: 5%;
  }
  footer {
    padding-top: 5px;
  }
  footer span.credentials {
    color: rgb(20, 202, 117);
  }
</style>
